<%- include('../partials/header.ejs'); %>
<%- include('../partials/navbar.ejs'); %>

<body>

<div class = "container">
    <br><br><h1>Clientes cadastrados</h1>
    <a href="/create/client" class = "btn btn-primary" id = "newClientButton"> + Novo cliente</a>
    <a href="/create/client" class = "btn btn-dark" id = "refreshButton"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
  <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
</svg> Atualizar</a>
    <br>
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
           
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">CPF</th>
            <th scope="col">Renda mensal</th>
          </tr>
        </thead>
        <tbody>

         <% Client.forEach( (Clients) => { %>

          <tr>
            <td> <%= Clients.firstName %> </td>
            <td> <%= Clients.lastName %> </td>
            <td> <%= Clients.cpf %> </td>
            <td> R$ <%= Clients.income %> </td>
          </tr>

        <% }) %>

        </tbody>
      </table>

</div>

</body>

<%- include('../partials/footer.ejs'); %>